<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <!-- Inclure Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
</head>
<body>
<div class="container-fluid bg-light">
    <div class="container py-5">
        <h1 class="text-center mb-5">Bienvenue sur notre application : </h1>
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12 mb-3">
                <a href="/loginPage" class="btn btn-primary btn-block">Se connecter</a>
            </div>
            <div class="col-md-4 col-sm-12 mb-3">
                <a href="/registerPage" class="btn btn-secondary btn-block">S'inscrire</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
